<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>A mid-senior level Analyst Developer specialising in Microsoft Office automation. Extensive experience in implementing tactical solutions to deliver a business value. Proven problem solving/trouble-shooting ability and experience.
            <p>An excellent customer service track record with strong communication skills. A solid mix of technical skills and highly developed interpersonal competencies is supported by strong team work ethic, sound negotiation skills, and the ability
                to provide and deliver enterprise performance enhancing solutions within realistic time frames and budgetary constraints.</p>
            <p>Main Strengths include building and maintaining relationships with business stakeholders, the ability to quickly establish requirements and work with the business to deliver the most appropriate outcome using a structured and consistent approach.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->