<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Analyst Developer</h3>
                <div class="time">November 2016 - Present</div>
            </div>
            <!--//upper-row-->
            <div class="company">OES Technology, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Currently working with Chubb Insurance </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">VBA Developer</h3>
                <div class="time">January 2016 - July 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">Mansion House Consulting, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Hired in the capacity of Developer to provide bespoke solutions to clients including but not limited to Deutsche Bank, Barclays, Old Mutual and Tullett Prebon.</p>
            <p>Main achievements include: Putting together a business case for the use of and implementation of MS Visual Studio primarily for use of Visual Studio Team Services into the four man team. This was adopted by the team within a few weeks and
                they now use it for workflow management and source code control. Another notable achievement was the implementation of using MS PowerPoint as a reporting tool for Deutsche Bank, this incorporated a new class to be used in the reporting
                framework for Insight (the firms in house developed product), which used the existing functionality to report on a SharePoint list into a preconfigured template for risk accountability and a heat map.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">Dec 2014 - Dec 2015</div>
            </div>
            <!--//upper-row-->
            <div class="company">Fidelity Management and Research, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Was situated on the Fixed Income Global Trading Desk Primary. Responsibilities included ensuring that start of day was not impacted and monitored batch machines carrying out triage for any issues that arise.</p>
            <p>Built and maintained relationships with Operations, Trading teams and Quants to deliver reports.</p>
            <p>Projects of note: Extract tool which was a query tool in Excel for the trade data on Bond, FX and Cash, this was stored SQL with Excel building the query string with parameters selected by the user.</p>
            <p>Implementing coding standards across legacy applications ensuring compliance to agreed structure and testing any changes before deploying to production. Working with large data sets from the Bloomberg API to Excel for importing into Oracle
                via SQL*Loader</p>
        </div>
        <!--//details-->
    </div>

    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">VBA Developer</h3>
                <div class="time">Aug 2013 - Dec 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Deloitte, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Redesigned, developed and maintained an existing desktop application framework. Was involved in client meetings, as well as liaising with clients to gather requirements and deliver product enhancements. Achievements included migrating all
                the source code from MS Visual SourceSafe (VSS) to Team Foundation Server (TFS). Also implemented a custom VBA IDE menu bar tool to export the code modules so that they could be stored individually rather than as a BLOBs, also responsible
                for implementing MS Test Manager (MTM) for any new changes which also included writing the individual tests.</p>
        </div>
        <!--//details-->
    </div>

    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Support Developer </h3>
                <div class="time">Oct 2010 - Aug 2013</div>
            </div>
            <!--//upper-row-->
            <div class="company">Investment Property Databank (now MSCI), London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Key systems supported: Data collection. Excel-based data collected from multiple client sources and imported into the database. Data was moved through several stages where it is transformed, validated and standardised to a quality where it
                was suitable for use in reporting. Primarily C#, SQL Server with some Oracle. Core processing. Bespoke Unix-based system which produced Company core calculations (where it was necessary to understand complex business logic).
            </p>
            <p>Reporting systems. Use of core system output to produce Excel client reports and datasets suitable for client-facing web applications and tools. Primarily Excel/VBA/SQL Server with C# and Analysis Services. Web-based systems. Included internal
                intranet and external subscription sites. The subscription sites were used by external clients to access data in several ways including PDF reports and interactive data mining tools.
            </p>
        </div>
        <!--//details-->
    </div>

    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technical Project Manager</h3>
                <div class="time">Mar 2010 - Oct 2010</div>
            </div>
            <!--//upper-row-->
            <div class="company">Barclays Capital, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Project managed, built and tested a tool used to ‘link up’ Barclays Capital base rate hedges with Barclays Corporate loan data for the Risk Solutions Group in Credit Markets.</p>
            <p>This was a front office role, which involved liaising directly with the director of the Risk Solutions Group. This was a WinForms application built from the ground up in C# which I had to learn on the job to link hedge products the respective
                offsetting Barclays Corporate loan account. Then recalculating the amortization profile of the loan account finally producing letters of variation to clients using MS Office VBA integration with the tool.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Technical Project Manager</h3>
                <div class="time">Jul 2007 - Oct 2010</div>
            </div>
            <!--//upper-row-->
            <div class="company">Barclays Bank Plc, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Maintenance of one of the banks systems used to for automatic decision and pricing for medium to large businesses.</p>
            <p>Co-ordinate the enhancements for existing systems, working with the business owners. Developed an excellent knowledge of VBA, VBE, VB, SQL Server, MS Access and program design. Writing technical specifications/user guides for new and legacy
                systems.
            </p>
            <p>Provide training for Excel and Access users within the bank who are looking to strengthen their knowledge in a particular area. Participate in and improve all aspects of the application development lifecycle, to ensure efficient and effective
                use of processes, standards tools and resources.</p>
            <p>Highlights: Last project [Financial Crime Unit Sanctions Workflow Database (Workflow Tool)] winning a Gold ROSCA [Barclays internal award for excellence formerly known as a RAFTA] award for process enhancement. Redeveloping two key systems
                within the team, both of which had reached the end of their current lifecycle. Both projects were MS Access databases with a client server architecture, involving custom replication via ADO.
            </p>
            <p>Championed implementation of VSS into the team, building add-ins for Excel and Access and acting as contact point for queries in the team.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Business & Information Manager </h3>
                <div class="time">Nov 2005 - Jul 2007 </div>
            </div>
            <!--//upper-row-->
            <div class="company">Barclays Bank Plc, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Worked in the banks Risk function looking after cost centres, involving monthly reconciliation/attestation and financial planning [£5.4m budget]. </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Financial & Commercial Assistant</h3>
                <div class="time">2012 - 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Barclays Bank Plc, London</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>Reported directly to the Head of Director's Office Finance Team [DOFT], Shared Client Services [SCS]. Had specific responsibilities to assist in the day to day management of all financial administration within 17 teams.</p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->