<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>A list of my open source projects are here, the majority of which are some sort of VBA tool which I'm moving away from now in favor or more general purpose programming languages.</p>
    </div>
    <!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/spences10/VBA-IDE-Code-Export">VBA-IDE-Code-Export</a></span> - <span class="project-tagline">Export VBA code from the VBA IDE using the VBComponent class</span>

    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/spences10/vscode-vba" target="_blank">vscode-vba</a></span> -
        <span class="project-tagline">VBA syntax highlighting and snippets for use in VSCode</span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/spences10/VBA-Coding-Standards" target="_blank">VBA-Coding-Standards</a></span> - <span class="project-tagline">VBA Code Guidelines</span>
    </div>
    <!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/spences10/VBA-Import-Eport-to-SQL-Server" target="_blank">VBA-Import-Eport-to-SQL-Server</a></span> - <span class="project-tagline">Excel with validation for a SQL server backend</span>
    </div>
</section>
<!--//section-->