@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* 
Scrollbar styles:
	scrollbar-color Two valid colors. thumb and track
	scrollbar-gutter padding when there's no scrollbar
	scrollbar-width auto | thin | none
*/
* {
	scrollbar-width: thin;
	scrollbar-color: oklch(var(--s)) oklch(var(--p)) !important;
}

::-webkit-scrollbar-track {
	background: oklch(var(--p));
}

::-webkit-scrollbar-thumb {
	background-color: oklch(var(--s));
}

.all-prose {
	@apply prose prose-lg lg:prose-xl print:prose-sm print:text-black;
}
